* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: linear-gradient(to bottom, #e3ff7e, #ffffff 669px);
}

.nav-bar {
    background-color: rgba(168, 242, 255, 0.562);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
}

#nav-right {
    width: 75%;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 15px;

}


#nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 20%;
}

#nav-left a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 30px;
    color: black;
}

#nav-left a:hover {
    font-weight: bolder;
}

/*  background container  */
.container {
    width: 80%;
    background-color: white;
    margin-left: 200px;
    margin-top: 50px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-top-left-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 5px rgb(255, 253, 128), 0 0 25px rgb(236, 255, 151), 0 0 50px rgb(239, 255, 147);

}

/* profile container  */
.profile {
    width: 100%;
    height: 500px;

}

/* proifile image  */
.profile img {
    float: right;
    height: 469px;
    width: 469px;
    margin-top: 60px;
    margin-right: 169px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255), 0 0 50px rgb(255, 255, 255);
}

/* profile heading 1 */
.profile h5 {
    width: 25%;
    word-spacing: 7px;
    letter-spacing: 5px;
    padding-top: 130px;
    padding-left: 169px;
    font-size: 25px;
}

.profile h3 {
    width: 25%;
    padding-left: 169px;
    font-size: 35px;
    padding-top: 15px;
}

.profile h1 {
    width: 30%;
    padding-left: 169px;
    font-size: 55px;
    padding-top: 15px;
    text-transform: capitalize;
}

.profile h1 span {
    text-transform: lowercase;
}

.profile h3 span {
    color: orange;
}

.profile p {
    width: 40%;
    word-spacing: 5px;
    padding-left: 169px;
    font-size: 20px;
    padding-top: 30px;
}

/* -=-------------------profile end here ------------------  */

/* education start  */
.education {
    margin-top: 150px;
    padding: 20px;
    border-radius: 8px;


}

.education h1 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    user-select: none;
    color: #000000;
    text-shadow: 20px 20px 20px black;
}

#high-school {
    width: 20%;
    height: 300px;
    margin-left: 5%;
    margin-top: 5%;
    box-shadow: 0 0 5px rgb(114, 111, 111);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

#high-school h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;

}

#high-school ul li {
    font-size: 20px;
    word-spacing: 5px;
    letter-spacing: 2px;
    padding-top: 35px;
    padding-left: 20px;

}

#high-school ul li span {
    font-weight: bolder;

}

#high-school hr {
    width: 88%;
}

#inter-school {
    width: 20%;
    height: 300px;
    margin-left: 15%;
    margin-top: 5%;
    box-shadow: 0 0 5px rgb(114, 111, 111);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

#inter-school h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;

}

#inter-school ul li {
    font-size: 20px;
    word-spacing: 5px;
    letter-spacing: 2px;
    padding-top: 35px;
    padding-left: 20px;

}

#inter-school ul li span {
    font-weight: bolder;

}

#inter-school hr {
    width: 88%;
}


#btech-school {
    width: 20%;
    height: 300px;
    margin-left: 15%;
    margin-top: 5%;
    box-shadow: 0 0 5px rgb(114, 111, 111);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

#btech-school h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;

}

#btech-school ul li {
    font-size: 20px;
    word-spacing: 5px;
    letter-spacing: 2px;
    padding-top: 35px;
    padding-left: 20px;

}

#btech-school ul li span {
    font-weight: bolder;

}

#btech-school hr {
    width: 88%;
}

#edu-container {
    display: flex;
}


/* certification start  */

.certificate {
    width: 100%;
    height: 600px;
    margin-top: 150px;
    border-radius: 8px;
    /* background-color: red; */


}

.certificate h1 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    user-select: none;
    color: #000000;
    text-shadow: 20px 20px 20px black;
}

#img-one {
    width: 500px;
    height: 600px;
    margin-top: 100px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    margin-right: 100px;
    float: right;
}

.certificate h2 {
    padding-top: 200px;
    padding-left: 100px;
    font-size: 35px;
}

.certificate h3 {
    padding-left: 110px;
    padding-top: 20px;
    font-style: italic;
    font-size: 25px;
}

.certificate h4 {
    padding-top: 50px;
    padding-left: 100px;
    font-size: 35px;
}

.certificate h5 {
    padding-left: 110px;
    padding-top: 20px;
    font-style: italic;
    font-size: 20px;
}

#img-two {
    width: 550px;
    height: 700px;
    margin-top: 350px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    margin-left: 100px;
}

.certificate-two {
    display: flex;
}

#content-div {
    width: 100%;
    float: right;
    margin-top: 450px;
    margin-left: 100px;

}

#img-div {
    width: 100%;
}

#content-div h2 {
    width: 700px;
    font-size: 35px;
}

#content-div h3 {
    padding-left: 20px;
    padding-top: 20px;
    font-style: italic;
    font-size: 25px;
}

#content-div h4 {
    padding-top: 50px;
    padding-left: 2px;
    font-size: 35px;
}

#content-div h5 {
    padding-left: 20px;
    padding-top: 20px;
    font-style: italic;
    font-size: 20px;
}

#content-div span {
    font-weight: bolder;
}

/* skills container start here  */

.skills {
    margin-top: 150px;
    padding: 20px;
    border-radius: 8px;
}

.skills h1 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    user-select: none;
    color: #000000;
}

#skill-front {
    display: flex;
}

.skills h2 {
    font-size: 20px;
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    user-select: none;
    color: grey;
}


#html {
    width: 11%;
    height: 200px;
    margin-left: 20%;
    margin-top: 5%;
    box-shadow: 0 0 5px rgb(114, 111, 111);
    border-bottom-right-radius: 50px;

}

#css {
    width: 11%;
    height: 200px;
    margin-left: 15%;
    margin-top: 5%;
    box-shadow: 0 0 5px rgb(114, 111, 111);
    border-bottom-right-radius: 50px;
}

#bootstrap {
    width: 11%;
    height: 200px;
    margin-left: 15%;
    margin-top: 5%;
    box-shadow: 0 0 5px rgb(114, 111, 111);
    border-bottom-right-radius: 50px;
}

#html img {
    width: 150px;
    justify-content: center;
    text-align: center;
}

#html h1 {
    padding-top: 20px;
    font-size: 35px;
    color: grey;
}

#css img {
    width: 150px;
    justify-content: center;
    text-align: center;
}

#css h1 {
    padding-top: 20px;
    font-size: 20px;
    color: grey;
}


#html img {
    width: 150px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;

}

#html h1 {
    padding-top: 20px;
    font-size: 20px;
    color: grey;
    text-transform: uppercase;
}

#bootstrap img {
    width: 150px;
    justify-content: center;
    text-align: center;


}

#bootstrap h1 {
    padding-top: 50px;
    font-size: 20px;
    color: grey;
    text-transform: uppercase;
}

/* backend */

#skill-back {
    display: flex;
}

#python {
    width: 11%;
    height: 200px;
    margin-left: 8%;
    margin-top: 5%;
    box-shadow: 0 0 5px rgb(114, 111, 111);
    border-bottom-right-radius: 50px;

}

#django {
    width: 11%;
    height: 200px;
    margin-left: 7%;
    margin-top: 5%;
    box-shadow: 0 0 5px rgb(114, 111, 111);
    border-bottom-right-radius: 50px;
}

#c {
    width: 11%;
    height: 200px;
    margin-left: 7%;
    margin-top: 5%;
    box-shadow: 0 0 5px rgb(114, 111, 111);
    border-bottom-right-radius: 50px;
}

#java {
    width: 11%;
    height: 200px;
    margin-left: 7%;
    margin-top: 5%;
    box-shadow: 0 0 5px rgb(114, 111, 111);
    border-bottom-right-radius: 50px;
}


#mysql {
    width: 11%;
    height: 200px;
    margin-left: 7%;
    margin-top: 5%;
    box-shadow: 0 0 5px rgb(114, 111, 111);
    border-bottom-right-radius: 50px;
}

#python img {
    width: 150px;
    justify-content: center;
    text-align: center;
}

#python h1 {
    padding-top: 20px;
    font-size: 20px;
    color: grey;
}

#django img {
    width: 150px;
    justify-content: center;
    text-align: center;
}

#django h1 {
    padding-top: 20px;
    font-size: 20px;
    color: grey;
}


#c img {
    width: 150px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    height: 50%;

}

#c h1 {
    padding-top: 50px;
    font-size: 20px;
    color: grey;
    text-transform: uppercase;
}

#java img {
    width: 150px;
    justify-content: center;
    text-align: center;
}

#java h1 {
    padding-top: 50px;
    font-size: 20px;
    color: grey;
    text-transform: uppercase;
}

#mysql img {
    width: 150px;
    justify-content: center;
    text-align: center;
}

#mysql h1 {
    padding-top: 50px;
    font-size: 20px;
    color: grey;
    text-transform: uppercase;
}

/* other skill  */
#skill-other {
    display: flex;
}

#git {
    width: 11%;
    height: 200px;
    margin-left: 35%;
    margin-top: 5%;
    box-shadow: 0 0 5px rgb(114, 111, 111);
    border-bottom-right-radius: 50px;

}

#linux {
    width: 11%;
    height: 200px;
    margin-left: 5%;
    margin-top: 5%;
    box-shadow: 0 0 5px rgb(114, 111, 111);
    border-bottom-right-radius: 50px;
}

#git img {
    width: 150px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;

}

#git h1 {
    padding-top: 50px;
    font-size: 20px;
    color: grey;
    text-transform: uppercase;
}

#linux img {
    width: 150px;
    justify-content: center;
    text-align: center;
}

#linux h1 {
    padding-top: 60px;
    font-size: 20px;
    color: grey;
    text-transform: uppercase;
}

/* contact styling start here  */

.contact {
    padding: 20px;
    width: 100%;
    height: 700px;
    margin-top: 150px;
}

.contact h1 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    user-select: none;
    color: #000000;
    text-shadow: 20px 20px 20px black;
}

.contact img {
    width: 500px;
    height: 500px;
    float: right;
    margin-top: 100px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    margin-right: 200px;
}

#contact-send {
    width: 50%;
    margin-top: 100px;
    margin-left: 110px;
    border: 1px solid black;
    padding-bottom: 30px;
    padding-left: 30px;

}

#contact-send input {
    margin-top: 20px;
    width: 80%;
    height: 50%;
    padding-top: 20px;
    border: none;
    border-radius: 50px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 20px;
}

#contact-send textarea {
    padding-top: 20px;
    margin-top: 30px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    width: 80%;
    border: none;
    margin-left: 15px;
}

#contact-send button {
    margin-top: 50px;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

/* footer styling */

footer {
    margin-top: 69px;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
}

.footer-cont {
    justify-content: center;
    text-align: center;
    padding-top: 10px;

}

/* footer end here  */